/* * {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  margin: 0;
} */
/* 
  button {
    font-size: 20px;
  } */

/* header */
.home-page {
  background-image: url(/img/book2.jpg);
  background-size: cover;
  min-height: 80vh;
  /* width: 100%; */
  /* object-fit: cover; */
  /* background-repeat: space; */
}

.app-header {
  padding: 10px;
  height: 10vh;
  background-color: lightslategray;
  text-align: center;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Ori */
.app-main {
  min-height: 80vh;
  background-color: lightblue;
}
.book-preview-container {
  /* font-size: 20px;
        padding: 10px;
        border: 1px solid black;
        height: 150px;
        width: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    
        background-color: rgba(226, 226, 226, 0.9);
        width: 25%;
        height: 350px;
        max-width: 250px;
        min-width: 200px;
        padding: 1rem;
        margin: 1rem;
        border-radius: 20px;
        cursor: pointer;
        font-family: 'Jura', sans-serif;
        color: rgb(0, 0, 0);
        transition: .6s;
        box-shadow: 0 px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
        transition: .1s;
        text-align: center; */
}

/* footer */

.app-footer {
  padding: 10px;
  height: 10vh;
  background-color: lightslategray;
  text-align: center;
}

/* 
  .sale{
      background-color: red;
      width: 50px;
      text-align: center;
      border: 1px solid black;
  } */

/* user msg */

.user-msg {
  position: absolute;
  top: 50px;
  right: 0;
  padding: 10px;
}

.success {
  background-color: rgb(27, 180, 27);
}

.error {
  background-color: red;
}

/* links */

.router-link-exact-active {
  color: green;
}

.active-link {
  color: red;
}

/* animations */

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter, .fade-leave-to
    /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
