.emails-list {
  /* clean-list */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.email-preview-container {
  box-shadow: inset 0px 0px 12px -3px rgba(115, 115, 115, 0.86);
  padding: 10px 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-main {
  min-height: 80vh;
}

.email-filter {
  display: flex;
  justify-content: center;
}

.email-content {
  padding: 30px;
  flex: 1;
}

.email-folders {
  padding: 30px;
}

.email-folders > * {
  width: 90%;
  padding: 10px;
  height: 15px;
  font-size: 14px;
  margin-block-end: 10px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.email-folders.span {
  margin-block-end: 10px;
}
.email-app {
  display: flex;
}
