textarea {
  padding: 0;
  border: none;
}

.email-app {
  display: flex;
  padding-block-start: 20px;
}

.email-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/*side*/
.email-folders-container {
  display: flex;
  flex-direction: column;
  width: 200px;
  gap: 15px;
  margin-inline-start: 15px;
}

.compose-btn {
  padding: 5px;
  border: 1px solid grey;
  border-radius: 20px;
  display: flex;
  align-items: center;
  font-weight: bold;
  width: 125px;
}

.compose-btn img {
  width: 30px;
  border-radius: 50%;
  margin-inline-end: 10px;
}

.email-folders {
  flex-direction: column;
  display: flex;
}

.email-folders > * {
  padding: 9px;
  cursor: pointer;
  border-radius: 0 20px 20px 0;
  display: flex;
  align-items: center;
}

.email-folders span {
  margin-inline-end: 10px;
}

.email-folders > *:hover {
  background-color: rgba(222, 228, 228, 0.8);
  background-color: silver;
  width: 100%;
}

/*mails*/

.email-filter {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-block-end: 15px;
  padding-inline-end: 90px;
}

.input-search,
.filter-select {
  background-color: #e9e9e900;
  box-shadow: 0px 0px 3px 0px black;
}

.input-search {
  padding: 10px;
  display: flex;
  align-items: center;

  width: 600px;
  border-radius: 7px 0 0 7px;
  border: none;

  border-right: none;
}

.filter-select {
  padding: 0.7rem;
  border-radius: 0 7px 7px 0;
}

.emails-list {
  display: flex;
  flex-direction: column;
  margin-inline-start: 30px;
  margin-inline-end: 120px;
}

.email-preview-container {
  box-shadow: 0px 1px 2px 0px rgb(115 115 115 / 86%);
  padding: 10px;
  display: grid;
  grid-template-columns: 40px 1fr 2fr 5fr 80px 70px;
  grid-template-rows: 40px;
  justify-content: center;
  align-items: center;
}

.email-preview-container > * {
  padding-inline-end: 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.email-preview-container:hover {
  box-shadow: inset 4px 0px 2px 0px #919191;
  cursor: pointer;
}

.unread {
  background-color: gainsboro;
  font-weight: 600;
}

.styleFolder {
  background-color: silver;
}

.checked {
  color: orange;
}

.email-small-preview-container {
  box-shadow: inset 0 -4px 1px rgb(88 86 86);
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.small-preview {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.small-preview-from {
  padding-block-end: 10px;
  font-weight: bold;
}

.small-preview-from span {
  font-weight: normal;
  padding-inline-start: 8px;
}

.small-preview-body {
  padding: 12px 10px;
}

.email-compose {
  display: flex;
  flex-direction: column;

  position: fixed;
  bottom: 50px;
  right: 50px;

  background-color: white;
  box-shadow: 0 8px 10px 1px rgb(0 0 0 / 14%), 0 3px 14px 2px rgb(0 0 0 / 12%), 0 5px 5px -3px rgb(0 0 0 / 20%);
}

.compose-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #404040;
  color: #f4f4f4;
  border-radius: 8px 8px 0px 0px;
  width: 550px;
}
.email-input-container {
  display: flex;
  flex-direction: column;
}

.email-input-container div:not(:last-child) * {
  width: 100%;
}

.compose-buttons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.input-email,
.compose-body,
.input-subject {
  border: none;
  border-bottom: 1px solid rgb(199, 199, 199);
  padding-inline-start: 15px;
  padding: 10px;
  font-family: lato-regular;
}

.send-email-btn {
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #1a73e8;
  color: white;
}

@media (min-width: 1000px) {
}
