.app-footer {
  background-color: #6291cf;
  box-shadow: 0px -1px 5px black;
  height: 10vh;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

.app-footer span {
  text-decoration: underline 2px #d5daeb;
}
