.shadow-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 15%);
  z-index: 20;
}

.model {
  position: fixed;
  left: 50%;
  top: 50%;
  width: calc(100% - 500px);
  height: calc(100% - 300px);
  transform: translate(-50%, -50%);
  z-index: 30;
  padding: 10px;
  border-radius: 10px;
}

.model textarea {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  margin-block-end: 5px;
}

.model button {
  margin: auto;
  font-weight: bold;
}

.model button:hover {
  color: rgba(255, 255, 255, 0.829);
}
